<a href="https://colab.research.google.com/github/Harini0324/AGRICART-/blob/main/top50_PopularityBased.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import random

In [ ]:
df=pd.read_csv('/content/csv')

In [ ]:
def generate_farmer_name(used_names):
    first_names = ['John', 'Jane', 'Michael', 'Emily', 'David', 'Sarah', 'Daniel', 'Olivia', 'James', 'Sophia','Ramesh','Suresh','Mala','Kala','Ramya','Angel']
    last_names = ['Smith', 'Johnson', 'Williams', 'Jones', 'Brown', 'Davis', 'Miller', 'Wilson', 'Moore', 'Taylor']

    while True:
        name = f"{random.choice(first_names)} {random.choice(last_names)}"
        if name not in used_names:
            return name

# Create a list of 200 unique random farmer names
num_names = 100
used_names = set()
farmer_names = []

for _ in range(num_names):
    name = generate_farmer_name(used_names)
    farmer_names.append(name)
    used_names.add(name)

# Create a DataFrame
#df = pd.DataFrame({'farmer_name': farmer_names})

# Save the DataFrame to a CSV file
#df.to_csv('unique_farmer_names.csv', index=False)

In [ ]:
def generate_phone_number():
    return str(random.randint(9000000000, 9999999999))

df['phone_number'] = [generate_phone_number() for _ in range(len(df))]

In [ ]:
def generate_farmer_name1():
    return random.choice(farmer_names)

df['farmer_name'] = [generate_farmer_name1() for _ in range(len(df))]

In [ ]:
df.to_csv('updated_csv', index=False)

In [ ]:
df=pd.read_csv('/content/updated_csv')

# ## POPULARITY BASED : TOP 50

In [ ]:
num_df=df.groupby('commodity').count()['modal_price'].reset_index()
num_df.rename(columns={'modal_price':'sold count'},inplace=True)
num_df

                     commodity  sold count
0                   Amaranthus           9
1              Amla(Nelli Kai)           1
2                  Amphophalus           6
3                        Apple          32
4    Arecanut(Betelnut/Supari)           9
..                         ...         ...
151                Water Melon           5
152                      Wheat          45
153                 Wheat Atta           3
154              White Pumpkin           1
155                       Wood           7

[156 rows x 2 columns]

In [ ]:
avg_df=df.groupby('commodity').mean()['modal_price'].reset_index()
avg_df.rename(columns={'modal_price':'avg_price'},inplace=True)
avg_df

<ipython-input-5-42ec5705663f>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg_df=df.groupby('commodity').mean()['modal_price'].reset_index()

                     commodity     avg_price
0                   Amaranthus   2916.666667
1              Amla(Nelli Kai)   3800.000000
2                  Amphophalus   2450.000000
3                        Apple   5722.968750
4    Arecanut(Betelnut/Supari)  15827.777778
..                         ...           ...
151                Water Melon   1260.000000
152                      Wheat   1913.400000
153                 Wheat Atta   2866.666667
154              White Pumpkin    310.000000
155                       Wood    377.857143

[156 rows x 2 columns]

In [ ]:
popular_df=num_df.merge(avg_df , on='commodity')
popular_df

                     commodity  sold count     avg_price
0                   Amaranthus           9   2916.666667
1              Amla(Nelli Kai)           1   3800.000000
2                  Amphophalus           6   2450.000000
3                        Apple          32   5722.968750
4    Arecanut(Betelnut/Supari)           9  15827.777778
..                         ...         ...           ...
151                Water Melon           5   1260.000000
152                      Wheat          45   1913.400000
153                 Wheat Atta           3   2866.666667
154              White Pumpkin           1    310.000000
155                       Wood           7    377.857143

[156 rows x 3 columns]

In [ ]:
popular_df = popular_df[ popular_df ['sold count']>15].sort_values('sold count',ascending=False).head(50)
popular_df

                         commodity  sold count    avg_price
118                         Potato         113   762.309735
147                         Tomato         103  1143.601942
101                          Onion          99  1082.333333
105            Paddy(Dhan)(Common)          99  1685.323232
24                         Brinjal          99  1374.989899
31                     Cauliflower          83  1185.421687
9                           Banana          74  2543.581081
61                    Green Chilli          74  2831.351351
26                         Cabbage          69  1016.449275
28                          Carrot          69  1169.130435
123                           Rice          53  2827.641509
120                        Raddish          50   496.660000
45                Cucumbar(Kheera)          45  2520.555556
152                          Wheat          45  1913.400000
18           Bhindi(Ladies Finger)          43  3638.255814
57                   Ginger(Green)          40  5764.750000
23                    Bottle gourd          39  1470.000000
119                        Pumpkin          38  1088.947368
98                         Mustard          36  3700.388889
19                    Bitter gourd          33  4851.515152
3                            Apple          32  5722.968750
35                         Coconut          29  2627.241379
70                    Gur(Jaggery)          28  2629.642857
109                       Peas Wet          25  1484.400000
42                          Cotton          23  5207.869565
10                  Banana - Green          22  2962.272727
131                        Spinach          22   634.636364
89                           Maize          22  1767.636364
59                          Grapes          20  4397.000000
40               Coriander(Leaves)          19   958.894737
20   Black Gram (Urd Beans)(Whole)          19  5001.210526
106                         Papaya          19  1471.315789
82                           Lemon          19  3124.210526
53                          Garlic          18  3165.555556
27                        Capsicum          17  3715.882353
66                       Groundnut          17  5847.941176
8        Bajra(Pearl Millet/Cumbu)          16  1771.062500
77                          Kinnow          16  1440.625000

In [ ]:
popular_df.merge(df,on='commodity')

,commodity,sold count,avg_price,state,district,market,variety,arrival_date,min_price,max_price,modal_price,phone_number,farmer_name
0,Potato,113,762.309735,Andaman and Nicobar,South Andaman,Port Blair,Other,04/03/2019,2000,3500,3000,9322057031,Suresh Johnson
1,Potato,113,762.309735,Assam,Darrang,Kharupetia,Badshah,04/03/2019,600,700,650,9733443393,Daniel Wilson
2,Potato,113,762.309735,Assam,Jorhat,Jorhat,Potato,04/03/2019,500,580,550,9322758846,Suresh Johnson
3,Potato,113,762.309735,Assam,Kamrup,Pamohi(Garchuk),Potato,04/03/2019,600,750,700,9147982729,Kala Miller
4,Potato,113,762.309735,Gujarat,Kheda,Nadiyad(Chaklasi),Potato,04/03/2019,600,800,700,9210917776,Suresh Davis
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1682,Kinnow,16,1440.625000,Punjab,Mansa,Mansa,Kinnow,04/03/2019,1200,1700,1500,9335752310,Daniel Moore
1683,Kinnow,16,1440.625000,Punjab,Muktsar,Malout,Kinnow,04/03/2019,1000,1500,1200,9544088151,Jane Jones
1684,Kinnow,16,1440.625000,Punjab,Tarntaran,Patti,Other,04/03/2019,800,1000,900,9842190628,Michael Williams
1685,Kinnow,16,1440.625000,Uttar Pradesh,Bhadohi(Sant Ravi Nagar),Gopiganj,Kinnow,04/03/2019,850,900,900,9781627732,Sarah Miller
1686,Kinnow,16,1440.625000,Uttrakhand,Dehradoon,Dehradoon,Other,04/03/2019,600,800,750,9468868616,Jane Smith

In [ ]:
import pickle
pickle.dump(popular_df,open('popular.pkl','wb'))